<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="${applicationId}.permission.CONTROL_TUNNELS" />

    <permission
        android:name="edu.cmu.cs.sinfonia.permission.WIREGUARD"
        android:protectionLevel="dangerous" />
</manifest>